/* cstadm.css */
@import 'themes.css';

.side-bar-button {
    @apply flex items-center py-3 px-4 space-x-2 rounded transition duration-200;
    color: var(--secondary-text);
}

.side-bar-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-bg);
}

.side-bar-button-icon {
    @apply w-5 h-5 m-2;
}

.active-link {
    background-color: var(--accent-color);
    color: var(--primary-bg);
    @apply border-l-4 border-white;
}

.no-scroll-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.3s ease;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(-100%);
}

.page-content {
    @apply bg-white rounded shadow p-6 m-3
}